/* View Pages */
.required{
    background-color: #ffe5e5;
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    opacity: 0.5;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

.table-case-supervisor>tbody>tr>td, .table-case-supervisor>tbody>tr>th, .table-case-supervisor>tfoot>tr>td, .table-case-supervisor>tfoot>tr>th, .table-case-supervisor>thead>tr>td, .table-case-supervisor>thead>tr>th {
    padding: 4px !important;   
    border-top: 1px solid #ddd !important;
}

.bootstrap-datetimepicker-widget table td {
    white-space: normal !important;
}
td {
    vertical-align: middle !important;
}
td img.img-circle {
    height: 25px;
    width: 25px;
}
.content-table tr {
    border-bottom: 1px solid #dddddd !important;
}
.modal-viewing input[readonly=readonly], .modal-viewing select[disabled] {
    background-color: #f5f5f5 !important;
    border: 1px solid #cccccc !important;
    cursor: pointer !important;
    border-radius: 0 !important;
}
.modal-viewing .input-group-addon select[disabled] {
    background-color: #f5f5f5 !important;
    border: none !important;
    font-weight: bold;
    border-radius: 0 !important;
}
.modal-viewing .input-group-addon {
    background-color: #f5f5f5 !important;
    border-radius: 0 !important;
}
.modal-viewing select[disabled]  {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    color: #333333 !important;
    border-radius: 0 !important;
}
.modal-viewing .input-group input[readonly=readonly] {
    border-radius: 0 !important;
    color: #333333 !important;
}
/*.controls {
  position:relative;
}
.valid8 {
 display: block;
 padding: 0;
 margin-top: -15px;
 height: 0px;
 line-height: 0;
}
.valid8:before {
 display: block;
 font-family: FontAwesome;
 content : '\f00c';
 color: #f3b760;
 position: absolute;
     bottom: 7px;
    right: 25px;
}
[required]:invalid ~ .valid8:before, [pattern]:invalid ~ .valid8:before {
 content:'\f00d';
  bottom: 7px;
  right: 25px;
 font-family: FontAwesome;
 color: red;
}
[pattern]:invalid ~ .valid8:after {
 content:'Please follow the sample pattern.';
 color: red;
}
[required]:invalid {
  background-color: #FFF3F3;
  border-radius: 0px;
  border-bottom: 1px solid #FF8585!important;
} */
.close,
.close:hover{
    opacity: .5;
}
.loading-pane .fa{
    color: #000 !important;
}
.loading-pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1039;
    background-color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    text-align: center;
}

.loading-pane > div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 64px;
    width: 64px;
}

.modal .loading-pane {
    z-index: 5000;
}
select{
  border-radius: 0 !important;
}
input[type=text]{
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    outline: none !important;
}
/*#row-life_occupation{
    margin-top: 20px;
}*/
   hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#ddd;
  height: 1px;
}
/*#row-life_age{
    margin-top: 27px;
}*/
.modal-primary{
    color: #fff;
    background-color: #5c90d2;
    border-color: #3675c5;
}
.modal-success{
    color: #fff;
    background-color: #46c37b;
    border-color: #34a263;
}
.modal-info{
    color: #fff;
    background-color: #70b9eb;
    border-color: #43a3e5;
}
.modal-warning{
    color: #fff;
    background-color: #f3b760;
    border-color: #efa231;
}
.modal-danger{
    color: #fff;
    background-color: #d26a5c;
    border-color: #c54736;
}
.modal-yeah{
    color: #fff;
    background-color: #8C8B8B;
    border-color: #868383;
}
.div-pad{
    padding-bottom: 5px;
    padding-top: 5px;
}
#row-per{
    width: 80px !important;
}
.btn-header{
    background-color: transparent;
    border: 0;
    color: #DCDCDC;
}
.center-align{
    text-align: center;
}
.btn-submit{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
ul .pagination{
    border-radius: 0;
}
.pagination .active span:hover{
    background-color: #54B948;
    border-color: #54B948;
}
.pagination .active span{
    background-color: #54B948;
    border-color: #54B948;
}
.pagination li a{
    color: #006699;
}
.control-label-left{
    padding-top: 10px;
    margin-bottom: 0;
    text-align: left;
}
#image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nopad{
    padding-left: 0;
    padding-right: 0;
}
.nos{
    padding: none !important;
}
.dboard{
	position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}
.table-pagination th.th-sort {
    cursor: pointer;
}
.table thead tr th {
	border-radius: 0 !important;
    vertical-align: bottom;
    border-bottom: 2px solid #2a3e59;
    font-weight: normal;
}
.table>tbody>tr>th{
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 0px;
}
.table tbody tr td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 0px;
    white-space: nowrap;
}
.tbheader{
	color: #fff !important;
    border-bottom: 1px solid #00478A !important; 
    background-color: #2a3e59  !important;
    border-radius: 0 !important;
    font-weight: bold;
}
.tbheader2{
    color: #fff !important;
    border-bottom: #75758A !important; 
    background-color: #75758A !important;
    border-radius: 0 !important;
}
.tbheader3{
    color: #fff !important;
    border-bottom: #838396 !important; 
    background-color: #838396 !important;
    border-radius: 0 !important;
}
.block-content{
	margin: 0 auto;
    padding: 5px 5px 1px;
    max-width: 100%;
    overflow-x: visible;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}
.tblevel2{
	 padding: 1px 0px 0px 1px;
}
.tbblock{
	background-color: #ffffff;
}
.title-margin{
	margin: 50px 0 15px 0;
}
.cursor {
    cursor: pointer;
}
.top-bord {
    border-top: 1px #e6e6e6 solid;
}
.menu-pad{
	padding-left: 0; 
	background-color: #023a6f;
}
.menu-pad>li>a, .menu-pad .panel-title {
    padding-left: 27px !important; 
}
.menu-padd>li>a, .menu-padd .panel-title{
    padding-left: 42px !important; 

}
.menu-padd{
	padding-left: 0; 
	background-color: #023a6f;
}
.menu-padding{
	padding-left: 10px; 
	background-color: #023a6f;
}
.tablea{
	background-color: #252C35 !important;
    color: white;
}
.topborder{
	background-color: #eeeeee;
/*box-shadow: 0px 0px 10px rgba(0,0,0,.8);*/
}
.topborder table{
	background-color: #ffffff;
}
.bg-table{
	background-color: #f9f9f9;
}
.panel .collapsing{
	max-height: 500px; /* approximate max height */
	transition-timing-function: ease-in-out;
}
.white{
	color: white;
}
.thead{
	background-color: #b1b8c2;
	color: white;
	border-color: #f9f9f9;
}
.block-space{
	padding-top: 10px;
	margin-top: 20px;
}
/* Total Invoice Pages */
.select{
	background-color: #eee !important;
    border: 0 !important;
}
.content-table {
    padding-top: 20px;
}
#basicinfo p{
	margin-top: 7px;
}
.main-title {
    margin: 10px 0 0 0;
    font-size: 18px;
    color: #00478a;
    font-weight: normal;
}
.main-title-container {
    background-color: #f9f9f9;
    border-bottom: 1px #e6e6e6 solid;
    padding: 0 !important;
}
.default-container {
    background-color: #fff;
    border-bottom: 1px #e6e6e6 solid;
    color: #666666;
}
.container-space {
    padding: 15px 0 10px 0 !important;
}
.p{
	font-size: 14px;
}
.btn-table{
	color: #545454;
    background-color: #f5f5f5;
    border-color: #e9e9e9;
    border-radius: 0px;
}
.btn-tool {
    margin: 0 2px 3px 2px;
    max-width: 100%;
    text-transform: uppercase;
}
.bread-crumb {
    color: #60be54;
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}
/* All Pages */
.btn-color{
	background-color: #DDDDDD;
	border-color: transparent;
	color: #666;
}
#first{
	height: 100%;
	background-color: #F9F9F9;
	margin-bottom: 10px;
}
#first h2{
	margin-top: 0px;
	margin-bottom: 5px;
}	
#firstbutton{
	text-align: right;
}
#second{
	padding-top: 20px;
	padding-bottom: 15px;
	background-color: #C2C3C5; 
	height: 100%;
}
#p{
	margin-top: 6px !important;
}
.form-control{
	margin-bottom: 5px;
    border-left: 0px solid #ccc;
    border-top: 0px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 0px solid #ccc;
    -webkit-box-shadow: 0 !important; 
    box-shadow: 0px 0px 0px !important;
}
#select{
	width: 100% !important;
}
#second label{
	font-weight: normal;
}
/* invoice-list */
.rightalign{
	text-align: right;
}
.leftalign{
	text-align: left;
}

#additional{
	background-color: white;
	height: 100%;
}
#group{
	background-color: white;
	height: 100%;
}
.borderzero{
	border-radius: 3px;
}
@media(min-width:1200px){
	#base{
		text-align: right !important;
	}
@media(max-width:1200px){
	#base{
		text-align: left !important;
	}
    #row-life_occupation{
    margin-top: 0px;
}
#row-life_age{
    margin-top: 0px;
}
}
@media(max-width:1600px){
	#policyfields small{
		font-size: 80% !important;
	}
	#basicinfo p{
	margin-top: 7px;
}
}
@media(max-width:768px){
	#basicinfo p{
	margin-top: 0px !important;
}
}

.input-group-btn > .btn {
    border-radius: 0;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    border-radius: 0;
}

.file-preview .close{
	display: none !important;
}
/* modal header */
h4.profile-title{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
h4.modal-multiple-title{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
h4.designate-title{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
h4.bonding-title{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
h4.modal-remove-title{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
/*.modal-warning{
	color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}*/
.modal-primary{
	color: #fff;
    background-color: #5c90d2;
    border-color: #3675c5;
}
.modal-success{
	color: #fff;
    background-color: #46c37b;
    border-color: #34a263;
}
.modal-info{
	color: #fff;
    background-color: #70b9eb;
    border-color: #43a3e5;
}
.modal-warning{
	color: #fff;
    background-color: #f3b760;
    border-color: #efa231;
}
.modal-danger{
	color: #fff;
    background-color: #d26a5c;
    border-color: #c54736;
}
.modal-yeah{
    color: #fff;
    background-color: #8C8B8B;
    border-color: #868383;
}
label{
    font-size: 13px;
    font-weight: 600;
}

.btn-yeah{
    color: #fff;
    background-color: #8C8B8B;
    border-color: #868383;
}
.btn-yeah:hover{
    color: #fff;
    background-color: #777676;
}
#form-sales-info div{
    line-height: 40px;
}
#form-sales-info img{
    height: 150px;
    width: auto;
}
th.sorting{
    white-space: nowrap !important;
}
th{
    text-transform: uppercase !important;
}
#my-table_length{
    position: absolute;
    padding-top: 12px;
}
#my-table_info{
    padding-left: 420px;
}
#my-table_length label{
    font-weight: normal;
}
/* css for counter*/
#shiva
{
 background: transparent;
}
.count
{ 
  color:black;
}
.no-sort { 
    pointer-events: none!important; 
    cursor: default!important; 
}
