.navbar-static-top {
  z-index: 2 !important;
}
#profpic{
    margin-left: 75px;
}
.navbar {
    margin-bottom: 0px;
    border-bottom: 1px solid #60be54 !important;
}
#menu-toggle3 {
    z-index: 1;
}
#menu-toggle{
    background-color: #f8f8f8;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 9px;
    border-radius: 3px;
    border: 0;
}
#menu-toggle i {
    color: #60be54 !important;
}
#profile:hover{
    border: 0px;
}
#bell:hover{
    border: 0px;
}

#bell{
    margin-right: 10px;
    margin-top: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f8f8f8;
    border-radius: 3px;
    border: 0;
}
#profile{
    margin-top: 10px;
    background-color: #f8f8f8;
    color: #79828f;
    border-radius: 3px;
    border: 0;
    padding: 5px;
}
#wrapper.toggled .navbar {
    padding-left: 50px;
    transition: opacity .5s linear;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-default {
    z-index: 2;
    height: 50px;
    padding-left: 250px;
    background-color: #ffffff !important;
    border-color: #e6e6e6;
    transition: opacity .5s linear;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }
.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-static-top {
    z-index: 0;
    border-width: 0 0 1px;
}
@media(max-width:768px) {
    .navbar-default {
    height: 50px;
    padding-left: 50px;
    background-color: #ffffff !important;
    border-color: #e6e6e6;
 }
}
