/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
@import url(https://fonts.googleapis.com/css?family=Arimo);

/* Toggle Styles */
body{
    background-color: #f5f5f5 !important;
    font-family: 'Arimo', sans-serif !important;
}
tspan {
    font-family: 'Arimo', sans-serif !important;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
#bell {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: #60be54;
}
.noti-count {
  background-color: #fa3e3e;
  border-radius: 7px;
  color: white;
 
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute;
  top: 25px;
  right: 0;
}

#wrapper.toggled {
    padding-left: 50px;
}
#sidebar-wrapper .main-logo {
    padding: 20px 0 0 5px;
}
#sidebar-wrapper .main-logo span {
    font-family: 'arial';
}
#sidebar-wrapper {
    z-index: 3;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y:auto;
    overflow-x:hidden;
    background: #00478a;
    border-right: 1px solid #e6e6e6 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.angle{
    margin-right: 20px;
    margin-top: 12px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    z-index: 1;
    width: 100%;
    position: absolute;
    padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

#side {
   
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.xs-logo {
    height: 30px;
    padding-left: 2px;
}

.sm-logo {
    height: 25px;
}

.sidebar-nav .panel-title:hover {
    cursor: pointer;
}

.sidebar-nav .panel-heading {
    padding: 0;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #5990c3;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #155c9f;

    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.sidebar-nav li.active a {
    color: #ffffff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    background-color: #ffffff;
    border-bottom: 1px solid #60BE54;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
@media(max-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 50px;
    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/* My CSS */
#wrapper.toggled {
    padding-left: 50px;
}
#wrapper.toggled #sidebar-wrapper:hover{
    height: 100%;
    width: 250px;
}
#sidebar-wrapper:hover #hide{
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
}
#wrapper.toggled .sidebar-nav li span {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}
#wrapper.toggled #sidebar-wrapper {
    width: 55px;
}
.sidebar #menu {
    background-color:  #252c35 !important;
}
@media(min-width:768px) {
    #menu-toggle3{
        visibility: hidden;
    }
}
@media(max-width:768px) {
    #sidebar-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;
    }   
    .table-responsive{
        border: 0px;
    }
    .navbar-static-top{
        padding-left: 0px;
    }
    #fahide{
        margin-top: 22px;
        margin-right: 20px;
        visibility: visible;
    }
    #right{
        padding-right: 20px;
        margin-top: -15px;
    }
    #wrapper {
        padding-left: 50px;
        overflow:hidden;
    }
    .sidebar-nav li span {
        visibility: hidden;
    }
    #menu-toggle{
        margin-top: 10px;
    }
    #wrapper.toggled #sidebar-wrapper{
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
    width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper #hide{
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
    }
    #wrapper.active #sidebar-wrapper{
    height: 100%;
    overflow: hidden;
    width: 250px;
    }
    #sidebar-wrapper:hover #hide{
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s linear;
    }
    }


