/* All Pages */
#first{
	height: 100%;
	background-color: #F9F9F9;
	margin-bottom: 10px;
}
#first h2{
	margin-top: 0px;
	margin-bottom: 5px;
}	
#firstbutton{
	text-align: right;
}
#second{
	padding-top: 20px;
	padding-bottom: 15px;
	background-color: #C2C3C5; 
	height: 100%;
}
#p{
	margin-top: 6px !important;
}
.form-control{
	margin-bottom: 5px;
}
#select{
	width: 100% !important;
}
#second label{
	font-weight: normal;
}
#third{
	margin-top: 20px;
	background-color: white;
}
#checkbox{
	vertical-align: -15%;
}
#third thead{
	text-align: center;
}
/* invoice-list */
.rightalign{
	text-align: right;
}
#policythird table{
	background-color: white;
}
#policy2ndtable{
	margin-top: 20px;
	height: 100%;
	background-color: white;
}
#policy2ndtable thead{
	background-color: #F9F9F9;
}
#policy2ndtable td{
	background-color: white;
}
#policy2ndtablebutton{
	margin-top: 15px;
}
#policy2ndtable #policyfirstthead{
	background-color: #C2C3C5;
}
#policy2ndtable #headtable thead{
	background-color: white !important;
	border: 0;
}
.multiselect-all label {
  font-weight: bold;
}
.multiselect-search {
  color: red;
}
.multiselect-container{
	max-height: 150px; 
	overflow-y: auto; 
	overflow-x: hidden;
}
.reSize{
	font-size:12px !important;
}

