
.dropdown {
    display:inline-block;
   /* margin-left:20px;*/
    
  }


.glyphicon-bell {
   
    font-size:1.5rem;
  }

.notifications {
   max-width:920px; 
   width: 10%;
   position: none !important;
   top:100%;left:0;z-index:1000;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:4px;box-shadow:0 6px 12px rgba(0,0,0,.175)
  }
  
  .notifications-wrapper {
     overflow:auto;
      max-height:300px;
    }
    
 .menu-title {
     color:#252C35;
     font-size:1.5rem;
      display:inline-block;
      }
 
.glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
  
   
 .notification-heading, .notification-footer  {
    padding:2px 10px;
       }
      
        
.dropdown-menu.divider {
  margin:5px 0;          
  }

.item-title {
  
 font-size:1.3rem;
 color:#79828F;
    
}

.notifications a.content {
 text-decoration:none;
 background:#ccc;
 }
    
.notification-item {
 padding:5px;
 margin:5px;
 background:#F5F5F5;
 border-radius:4px;
 }

